.menulateral{
    position: relative;
    /* top: 66px; */
    /* height: calc(100% - 166px); */
    height: 100%;
    width: 400px;
    min-width: 400px;
    

    display: flex;
    flex-direction: column;
    align-items: start;
    
    border-right: solid;
    border-color: rgb(38, 38, 38);
    border-width: 1px;
    background-color: black;

    overflow-y: auto;
}

.hide{
    width: 0;
    min-width: 0;
}


.menulateral-queue-title{
    text-align: center;
    font-size: 30px;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.menulateral-queue {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    color: white;
    margin: 0px;
    margin-block: 0;
    margin-inline: 0;
    padding-inline-start: 0;
}