.search-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 90%;
    height: 55px;
    margin: 0;
}

.search-item.destaque{
    background-color: rgba(0, 0, 0, 0.413);
}

.search-item-musicname{
    position: absolute;
    left: 80px;
    width: 80%;
    height: 20px;
    top: 0;
    overflow: hidden;
}

.search-item-artist{
    position: absolute;
    top: 25px;
    left: 80px;
    width: 80%;
    height: 20px;
    overflow: hidden;
}

.search-item-artist-upper{
    position: absolute;
    font-size: 30px;
    top: 5px;
    left: 80px;
    width: 80%;
    height: 30px;
    overflow: hidden;
}

.search-item-image{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.hide{
    display: none;
}