.keyboardContainerold{
    display: flex;
    flex-direction: column;
    position: fixed;
    border-radius: 10px;
    top: 100px;
    left: 300px;
    background-color: rgba(128, 128, 128, 0.68);
}

.keyboardinputContainer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 40px;
}
.keyboardClose{
    position: absolute;
    height: 100%;
    right: 20px;
    width: 50px;
}

.keyboardKeys{
    display: flex;
    flex-direction: column;
    position: relative;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 70px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    font-size: 20px;
}

.regularkey{
    position: relative;
    font-size: 30px;
    width: 70px;
    height: 100%;
    border-radius: 10px;
}

.extendedkey{
    position: relative;
    font-size: 30px;
    border-radius: 10px;
    width: 100px;
    height: 100%;
}
.superextendedkey{
    position: relative;
    border-radius: 10px;
    font-size: 30px;
    width: 400px;
    height: 100%;
}
.uppercase{
    text-transform: uppercase;
}

.close{
    position: absolute;
    background-color: rgb(255, 0, 0);
    color: white;
    right: 0;
}