.nav-bar {
  align-items: center;
  background-color: #1e1c1c;
  display: flex;
  gap: 10px;
  height: 66px;
  position: fixed;
  top: 0px;
  width: 100%;
  right: 0px;
  left: 0px;
  min-width: 1200px;
}

.loggedBar{
  bottom: 0;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #6600ff;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 370px;
  position: relative;
  padding: 10px;
  font-size: x-large;
}

.logo-image{
  width: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 65%;
  height: 100%;
  gap: 40px;
}

.search-bar-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff68;
  color: white;
  border-radius: 13px 13px 0 0;
  position: relative;
  height: 80%;
  width: 60%;
}

.search-bar-input {
  height: 100%;
  width: 80%;
  font-family: "Inter-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  border: none;
  background-color: transparent;
  outline: 0;
  color: white;
  left: 60px;
  position: absolute;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
.search-bar-icon {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  height: 100%;
  width: 60px;
  left: 0;
}

.search-suggestions{
  position: absolute;
  right: 0;
  top: 51px;
  width: 100%;
  background-color: #4a4a4a;
}

.search-suggestions ul{
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 60px;
}
.search-item{
  position: relative;
  border-bottom: solid;
  border-color: gray;
  width: 100%;
  height: 50px;
  font-size: 20px;
}
.nav-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  position: absolute;
  right: 0;
  background-color: transparent;
}
.hover{
  background-color: gray;
}
.botao-pesquisar{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.443);
  color: white;
  border: none;
  border-radius: 0 13px 0 0;
}

.navbar-buttonexplorarcontainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
  background-color: #ffffff23;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

.on{
  background-color: #ffffff63;
}

.navbar-buttonexplorar-img{
  width: 40px;
  height: 40px;
}

.navbar-buttonexplorar-text{
  font-size: 20px;
}

.floatingmenu-container{
  background-color: rgba(255, 255, 255, 0.201);
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 5px;
  gap: 10px;
  right: 5px;
  top: 65px;
  width: 200px;
  border-radius: 10px;
}

.floatingmenu-item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: rgb(115, 0, 255);
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.extrabuttons{
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}
.shoppingButton{
  /* background-color: brown; */
  height: 40px;
}
.floatingmenushopping-container{
  background-color: rgb(85, 85, 85);
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 5px;
  gap: 10px;
  right: 60px;
  top: 65px;
  width: 300px;
  border-radius: 10px;
  max-height: 500px;
}
.shoppingitem-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.shoppingitembuttons-container{
  position: relative;
  width: 100%;
  height: 50px;
  min-height: 50px;
  background-color: rgb(67, 65, 65);
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  justify-content: center;
  
}

.shopping-totalspan{
  position: absolute;
  font-size: 28px;
  left: 10px;
  bottom: 10px;
}

.shopping-confirmacompra{
  position: absolute;
  right: 0;
  height: 100%;
  width: 120px;
  border-radius: 0px 0 10px 0;
  font-size: 18px;
  background-color: #1e1c1c;
  color: white;
}
.shoppingButton-counter{
  position: absolute;
  background-color: red;
  border-radius: 8px;
  text-align: center;
  width: 16px;
  top: 0px;
  right: 0;
}
.hidden{
  display: none;  
}