.mainpage-container{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
}

.mainpage-lateral{
    position: relative;
    top: 0;
    width: 400px;
    min-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-right: solid;
    border-color: rgb(38, 38, 38);
    border-width: 1px;
    overflow: auto;
}

.mainpage-queue-title{
    text-align: center;
    font-size: 30px;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.mainpage-queue {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-inline-start: 0;
}

.mainpage-album-picture-container{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100%;

}

.mainpage-album-picture{
    padding: 20px;
    border-radius: 20px;
}

::placeholder {
    color: rgb(123, 117, 117);
    opacity: 1;
  }